/* footer */
.container-footer {
  min-height: 20rem;
  max-width: 100%;
  text-align: center;
  padding: 2rem 0;
}

.container-contact {
  padding: 1rem 0;
  margin: 2rem auto;
}

.container-social-networks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-network-link {
  color: var(--white-light);
  transition: all .2s ease;
}

.social-network-link:hover {
  color: var(--white);
  transform: scale(1.14);
}
