/* footer */
.container-footer {
  min-height: 200px;
  max-width: 100%;
  /* background-color: rgba(10,10,10,0.8); */
  text-align: center;
  padding: 20px 0;
}

.container-contact {
  padding: 10px 0;
  margin: 20px auto;
}

.container-social-networks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-network-link {
  color: var(--white-light);
  transition: all .2s ease;
}

.social-network-link:hover {
  color: var(--white);
  transform: scale(1.14);
}

/* media queries */
@media screen and (min-width: 320px) and (max-width: 480px) {}

@media screen and (min-width: 481px) and (max-width: 768px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {}

@media screen and (min-width: 1025px) and (max-width: 1200px) {}

@media screen and (min-width: 1201px) and (max-width: 1440px) {}

@media screen and (min-width: 1441px) {}
